<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your Account:<%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/login">Login</a>
    <a href="/reg">Register</a>
    <a href="/logout">Logout</a>
    <ul>
      <% for (var item in items){%>
        <li>id:<%=items[item].id%></li>
        <li>name:<%=items[item].name%></li>
        <li>price:<%=items[item].price%></li>
      <%}%>
    </ul>
  </body>
</html>
