<!DOCTYPE html>
<html>
  <head>
    <title>My index</title>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/item_list.css' />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/reg">Register</a>
      <%if (account == "Guest") { %>
        <a href="/login">Login</a>
      <% } %>
      <%if (account != "Guest") { %>
        <a href="/logout">Logout</a>
      <% } %>
      <p> <%=account%>, Welcome! </p>
    </div>
  </head>
  <body>
    <ul>
      <% for (var item in items){%>
        <li>id:<%=items[item].id%></li>
        <li>name:<%=items[item].name%></li>
        <li>price:<%=items[item].price%></li>
      <%}%>
    </ul>
    <div class="item_list">
      <ul>
        <% for (var item in items){%>
          <li>
            <img src=<%=items[item].image_path%> />
            <h3><%=items[item].name%></h3>
            <p><%=items[item].price%></p>
          </li>
        <%}%>
      </ul>
    </div>
  </body>
</html>
